* {
  margin: 0;
  padding: 0;
  /* background-color: #9fc5d5; */
}
body {
  background-color: #9fc5d5;
}
.loader {
  background-color: #90bcce;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: fadeout;
  animation-delay: 1s;
  animation-duration: 1s;
}
#vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  position: center;
}
.mainClass {
  min-height: 100vh;
  min-width: 100%;
  animation-name: fadein;
  /* animation-delay: 0.5s; */
  animation-duration: 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navmain {
  /* border: 1px solid black; */
  height: 100vh;
  width: fit-content;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innernav {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #203a37; */
  border-radius: 30px;
  padding: 10px;
  height: 40%;
  justify-content: space-evenly;
  background-color: #82b6d1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.navelements {
  min-height: 2rem;
  min-width: 2rem;
  padding: 5px;
  color: black;
}
.navelements:hover {
  cursor: pointer;
  scale: 1.5;
}

